@using DemoTest.Models.DAO;
@using DemoTest.Models.DTO;
@{
    ViewBag.Title = "Index";
    ViewBag.UserName = Session["loginSession"];
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
<link href="~/Scripts/froala-editor/css/froala_style.min.css" rel="stylesheet" type="text/javascript" />
@*<link href="~/Content/toastr.css" rel="stylesheet" />*@

@section jsFooter{
    
    }

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/Admin" style="color:#999999;"><span style="color:chartreuse">Smart</span>Billing</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>

<div id="sidebar-collapse menu" class="col-sm-3 col-lg-2 sidebar" style="display:block;">
    <div class="profile-sidebar">
        <div class="profile-userpic">
            <img src="~/Areas/Admin/Assets/_layout/images/ffff.png" class="img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">@ViewBag.UserName</div>
            <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <div id="menu_admin"></div>
    @*<div style="margin-left:35%;margin-top:50%;" class="btn btn-danger">@Html.ActionLink("Log Out", "Logout", "LoginAdmin", null, new { @class = "classname" })</div>*@

</div><!--/.sidebar-->

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" id="main_admin"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery-1.11.0.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/froala-editor/js/froala_editor.pkgd.min.js"></script>
    @*<script>$(function () { $('textarea').froalaEditor(); });</script>*@
    <script src="~/Assets/plugins/ckfinder.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/sp-form-admin-index.js"></script>
    <script src="~/Areas/Admin/Assets/js/Ajax_Json_JS.js"></script>
    @*<script src="~/Areas/Admin/Assets/js/sp-form-admin.js"></script>*@
    @*<script src="~/Scripts/toastr.js"></script>*@
    <script src="http://code.angularjs.org/1.0.0/angular-1.0.0.js"></script>
}
